In [4]:
import numpy as np
import pandas as pd

In [5]:
data = pd.read_csv("../data/Covid Data.csv")

In [6]:
data.shape

(1048575, 21)

In [7]:
data.head()

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,...,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
0,2,1,1,1,03/05/2020,97,1,65,2,2,...,2,2,1,2,2,2,2,2,3,97
1,2,1,2,1,03/06/2020,97,1,72,97,2,...,2,2,1,2,2,1,1,2,5,97
2,2,1,2,2,09/06/2020,1,2,55,97,1,...,2,2,2,2,2,2,2,2,3,2
3,2,1,1,1,12/06/2020,97,2,53,2,2,...,2,2,2,2,2,2,2,2,7,97
4,2,1,2,1,21/06/2020,97,2,68,97,1,...,2,2,1,2,2,2,2,2,3,97

In [8]:
data.columns

Index(['USMER', 'MEDICAL_UNIT', 'SEX', 'PATIENT_TYPE', 'DATE_DIED', 'INTUBED',
       'PNEUMONIA', 'AGE', 'PREGNANT', 'DIABETES', 'COPD', 'ASTHMA', 'INMSUPR',
       'HIPERTENSION', 'OTHER_DISEASE', 'CARDIOVASCULAR', 'OBESITY',
       'RENAL_CHRONIC', 'TOBACCO', 'CLASIFFICATION_FINAL', 'ICU'],
      dtype='object')

In [9]:
features = ['USMER', 'MEDICAL_UNIT', 'SEX', 'PATIENT_TYPE', 'INTUBED',
       'PNEUMONIA', 'AGE', 'PREGNANT', 'DIABETES', 'COPD', 'ASTHMA', 'INMSUPR',
       'HIPERTENSION', 'OTHER_DISEASE', 'CARDIOVASCULAR', 'OBESITY',
       'RENAL_CHRONIC', 'TOBACCO',  'ICU']

In [10]:
y = data.loc[:,"CLASIFFICATION_FINAL"].values

In [11]:
X = data.loc[:,features]

In [12]:
X.shape

(1048575, 19)

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
X_train,X_test,y_train,y_test = train_test_split(X,y)

In [15]:
from sklearn.linear_model import SGDClassifier
clf = SGDClassifier(loss="hinge", penalty="l2", max_iter=5)

In [16]:
clf.fit(X_train,y_train)

C:\Users\chaoc\anaconda3\lib\site-packages\sklearn\linear_model\_stochastic_gradient.py:696: ConvergenceWarning: Maximum number of iteration reached before convergence. Consider increasing max_iter to improve the fit.
  warnings.warn(

SGDClassifier(max_iter=5)

In [17]:
clf.score(X_train,y_train)

0.3789436072586152

In [18]:
clf.score(X_test,y_test)

0.3791351318359375

In [19]:
prediction = clf.predict(X_test)

In [21]:
temp = pd.DataFrame(prediction, columns=["prediction"])

In [22]:
temp.describe()

          prediction
count  262144.000000
mean        3.239933
std         0.844691
min         2.000000
25%         3.000000
50%         3.000000
75%         3.000000
max         7.000000

In [23]:
temp

        prediction
0                3
1                3
2                3
3                3
4                3
...            ...
262139           3
262140           3
262141           3
262142           3
262143           3

[262144 rows x 1 columns]

In [24]:
bisa = prediction-y_test

In [25]:
bisa.mean()

-2.0647354125976562

In [28]:
bisa.max()

6

In [29]:
bisa.min()

-5

In [31]:
np.median(bisa)

-3.0