# OVR means one vs rest

In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [3]:
data = pd.read_csv("../data/modifiedDigits4Classes.csv")
data

,0,1,2,3,4,5,6,7,8,9,...,55,56,57,58,59,60,61,62,63,label
0,0,0,5,13,9,1,0,0,0,0,...,0,0,0,6,13,10,0,0,0,0
1,0,0,0,12,13,5,0,0,0,0,...,0,0,0,0,11,16,10,0,0,1
2,0,0,0,4,15,12,0,0,0,0,...,0,0,0,0,3,11,16,9,0,2
3,0,0,7,15,13,1,0,0,0,8,...,0,0,0,7,13,13,9,0,0,3
4,0,0,1,9,15,11,0,0,0,0,...,0,0,0,1,10,13,3,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
715,0,0,6,12,12,6,0,0,0,0,...,0,0,0,2,11,10,4,0,0,1
716,0,3,14,15,6,0,0,0,0,7,...,0,0,4,15,13,12,11,1,0,2
717,0,1,10,13,2,0,0,0,0,10,...,0,0,0,9,13,11,10,9,0,2
718,0,0,15,13,1,0,0,0,0,0,...,0,0,0,10,13,10,6,2,0,2
719,0,0,6,16,13,11,1,0,0,0,...,0,0,0,6,16,14,6,0,0,0

In [11]:
pixel_colnames = data.columns[:-1]
print(pixel_colnames)

Index(['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24',
       '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36',
       '37', '38', '39', '40', '41', '42', '43', '44', '45', '46', '47', '48',
       '49', '50', '51', '52', '53', '54', '55', '56', '57', '58', '59', '60',
       '61', '62', '63'],
      dtype='object')

# Split the data

In [13]:
X_train, X_test,y_train, y_test = train_test_split(data[pixel_colnames],  data["label"], random_state=0)

# Standarsize your data

In [14]:
scaler = StandardScaler()

scaler.fit(X_train)

X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

# create an insance for multiclass logitsic model

In [15]:
clf = LogisticRegression(solver="liblinear", multi_class="ovr", random_state=0)

In [16]:
clf.fit(X_train, y_train)

LogisticRegression(multi_class='ovr', random_state=0, solver='liblinear')

In [17]:
print("Accuracy: ", clf.score(X_train, y_train))

Accuracy:  1.0

In [18]:
print("Test accuracy", clf.score(X_test, y_test))

Test accuracy 1.0

In [19]:
clf.intercept_

array([-2.712674  , -3.54379096, -3.18367757, -2.623974  ])

In [20]:
clf.coef_.shapeape

(4, 64)

# make prediction

In [23]:
print("prediction", clf.predict(X_test[0].reshape(1,-1)))
print("probability", clf.predict_proba(X_test[0].reshape(1,-1)))

prediction [1]
probability [[0.00183123 0.98368966 0.00536378 0.00911533]]