In [5]:
import numpy as np
import pandas as pd

data = ["HELLO","MY","DEAR","FRIEND"]
new = []
for s in data:
    s = s.capitalize()
    new.append(s)
    
print(new)

['Hello', 'My', 'Dear', 'Friend']

In [6]:
data.append(None)
print(data)

['HELLO', 'MY', 'DEAR', 'FRIEND', None]

In [7]:
ser = pd.Series(data)
print(ser)

0     HELLO
1        MY
2      DEAR
3    FRIEND
4      None
dtype: object

In [14]:
print(ser.str.capitalize())
print("\n--------------------------------------------\n")
print(ser.str.lower())
print("\n--------------------------------------------\n")
print(ser.str.upper())
print("\n--------------------------------------------\n")
print(ser.str.isalnum())
print("\n--------------------------------------------\n")
print(ser.str.len())
print("\n--------------------------------------------\n")
print(ser.str.startswith("D"))
print("\n--------------------------------------------\n")

0     Hello
1        My
2      Dear
3    Friend
4      None
dtype: object

--------------------------------------------

0     hello
1        my
2      dear
3    friend
4      None
dtype: object

--------------------------------------------

0     HELLO
1        MY
2      DEAR
3    FRIEND
4      None
dtype: object

--------------------------------------------

0    True
1    True
2    True
3    True
4    None
dtype: object

--------------------------------------------

0    5.0
1    2.0
2    4.0
3    6.0
4    NaN
dtype: float64

--------------------------------------------

0    False
1    False
2     True
3    False
4     None
dtype: object

--------------------------------------------

In [16]:
name = ["Chao Jiang", "Vova Balin", "Apurva Potdar"]
names = pd.Series(name)
print(names.str.split())

0       [Chao, Jiang]
1       [Vova, Balin]
2    [Apurva, Potdar]
dtype: object

In [18]:
print(names.str.split().str.get(0))
print("\n\n")
print(names.str.split().str.get(1))

0      Chao
1      Vova
2    Apurva
dtype: object



0     Jiang
1     Balin
2    Potdar
dtype: object

In [19]:
full_df = pd.DataFrame({"name":names,"info":["A|B|C","B|C","A|C|E"]})
print(full_df)

            name   info
0     Chao Jiang  A|B|C
1     Vova Balin    B|C
2  Apurva Potdar  A|C|E

In [20]:
# get dummies
full_df["info"].str.get_dummies("|") # returns a matrix

   A  B  C  E
0  1  1  1  0
1  0  1  1  0
2  1  0  1  1

In [22]:
ser2 = pd.Series(["A%B%C%D","L%M%A%C","A%C"])
print(ser2.str.get_dummies("%"))

   A  B  C  D  L  M
0  1  1  1  1  0  0
1  1  0  1  0  1  1
2  1  0  1  0  0  0