In [1]:
import numpy as np, pandas as pd

In [6]:
# None

a = np.array([1,3,None,5])
print(a)
print(type(a))
print(a.sum())

[1 3 None 5]
<class 'numpy.ndarray'>

TypeError: unsupported operand type(s) for +: 'int' and 'NoneType'

In [11]:
# NaN, not a number
vals2 = np.array([1,3,5, np.nan, 693])
print(vals2)
print(vals2.dtype)
print(vals2.sum())
print(vals2.max())

[  1.   3.   5.  nan 693.]
float64
nan
nan

In [15]:
# toignore nan 
print(np.nansum(vals2))
print(np.nanmax(vals2))
print(np.nanmin(vals2))

702.0
693.0
1.0

In [16]:
# pandas None and NaN

ser = pd.Series([1,3,np.nan,34,5,None]) # None will be converted to NaN
print(ser)

0     1.0
1     3.0
2     NaN
3    34.0
4     5.0
5     NaN
dtype: float64

In [20]:
# how to deal with missing values

#find missing values

#isnull()

data = pd.Series([1,None, 3,4,32,np.nan])
print(data.isnull())
print("\n-------------------------------------------------------------------------\n")
print(data.notnull())
print("\n-------------------------------------------------------------------------\n")
print(data[data.isnull()])
print("\n-------------------------------------------------------------------------\n")
print(data[data.notnull()])

0    False
1     True
2    False
3    False
4    False
5     True
dtype: bool

-------------------------------------------------------------------------

0     True
1    False
2     True
3     True
4     True
5    False
dtype: bool

-------------------------------------------------------------------------

1   NaN
5   NaN
dtype: float64

-------------------------------------------------------------------------

0     1.0
2     3.0
3     4.0
4    32.0
dtype: float64

In [21]:
# remove missing values

print(data.dropna())

0     1.0
2     3.0
3     4.0
4    32.0
dtype: float64

In [42]:
rng = np.random.RandomState(693)

M = pd.DataFrame(rng.randint(1,11,(3,4)), columns=list("ABCD"))
print(M)

print("\n-------------------------------------------------------------------------\n")
M.loc[1,"B"] = np.nan
print(M)
print("\n-------------------------------------------------------------------------\n")
print(M.dropna()) # by default, drop entire row
print("\n-------------------------------------------------------------------------\n")
print(M.dropna(axis="columns"))
print("\n-------------------------------------------------------------------------\n")
print(M.dropna(axis="rows"))
print("\n-------------------------------------------------------------------------\n")
M.iloc[2,1]=np.nan
print(M)

    A  B   C  D
0   3  1   6  2
1   2  4   5  5
2  10  3  10  2

-------------------------------------------------------------------------

    A    B   C  D
0   3  1.0   6  2
1   2  NaN   5  5
2  10  3.0  10  2

-------------------------------------------------------------------------

    A    B   C  D
0   3  1.0   6  2
2  10  3.0  10  2

-------------------------------------------------------------------------

    A   C  D
0   3   6  2
1   2   5  5
2  10  10  2

-------------------------------------------------------------------------

    A    B   C  D
0   3  1.0   6  2
2  10  3.0  10  2

-------------------------------------------------------------------------

    A    B   C  D
0   3  1.0   6  2
1   2  NaN   5  5
2  10  NaN  10  2

In [50]:
# how , thresh

# how any,all
# thresh how many non na values in rows or columns to reserve


print(M.dropna(how="all"))
print("\n-------------------------------------------------------------------------\n")
print(M.dropna(axis="columns", thresh=1))
print("\n-------------------------------------------------------------------------\n")
print(M.dropna(axis="rows", thresh=2))
print("\n-------------------------------------------------------------------------\n")
print(M.dropna(axis="rows", thresh=4))

    A    B   C  D
0   3  1.0   6  2
1   2  NaN   5  5
2  10  NaN  10  2

-------------------------------------------------------------------------

    A    B   C  D
0   3  1.0   6  2
1   2  NaN   5  5
2  10  NaN  10  2

-------------------------------------------------------------------------

    A    B   C  D
0   3  1.0   6  2
1   2  NaN   5  5
2  10  NaN  10  2

-------------------------------------------------------------------------

   A    B  C  D
0  3  1.0  6  2

In [61]:
# filling the missing values

# fillna(number_to_fill), methods ffill forward fill, bfill backward fill

ser = pd.Series([1,2,None,5,693,21,np.nan,23,None,None,np.nan,1024], index=list("ABCDEFGHIJKL"))
print(ser)
print("\n-------------------------------------------------\n")
print(ser.fillna(66)) # here fill all missing values with 66
print("\n-------------------------------------------------\n")
print(ser.ffill()) # forward filling , fill with previous value
print("\n-------------------------------------------------\n")
print(ser.fillna(method="ffill"))
print("\n-------------------------------------------------\n")
print(ser.fillna(method="bfill"))

A       1.0
B       2.0
C       NaN
D       5.0
E     693.0
F      21.0
G       NaN
H      23.0
I       NaN
J       NaN
K       NaN
L    1024.0
dtype: float64

-------------------------------------------------

A       1.0
B       2.0
C      66.0
D       5.0
E     693.0
F      21.0
G      66.0
H      23.0
I      66.0
J      66.0
K      66.0
L    1024.0
dtype: float64

-------------------------------------------------

A       1.0
B       2.0
C       2.0
D       5.0
E     693.0
F      21.0
G      21.0
H      23.0
I      23.0
J      23.0
K      23.0
L    1024.0
dtype: float64

-------------------------------------------------

A       1.0
B       2.0
C       2.0
D       5.0
E     693.0
F      21.0
G      21.0
H      23.0
I      23.0
J      23.0
K      23.0
L    1024.0
dtype: float64

-------------------------------------------------

A       1.0
B       2.0
C       5.0
D       5.0
E     693.0
F      21.0
G      23.0
H      23.0
I    1024.0
J    1024.0
K    1024.0
L    1024.0
dtype: float64