In [1]:
import numpy as np, pandas as pd

In [6]:
# None

a = np.array([1,3,None,5])
print(a)
print(type(a))
print(a.sum())

[1 3 None 5]
<class 'numpy.ndarray'>

TypeError: unsupported operand type(s) for +: 'int' and 'NoneType'

In [11]:
# NaN, not a number
vals2 = np.array([1,3,5, np.nan, 693])
print(vals2)
print(vals2.dtype)
print(vals2.sum())
print(vals2.max())

[  1.   3.   5.  nan 693.]
float64
nan
nan

In [15]:
# toignore nan 
print(np.nansum(vals2))
print(np.nanmax(vals2))
print(np.nanmin(vals2))

702.0
693.0
1.0

In [16]:
# pandas None and NaN

ser = pd.Series([1,3,np.nan,34,5,None]) # None will be converted to NaN
print(ser)

0     1.0
1     3.0
2     NaN
3    34.0
4     5.0
5     NaN
dtype: float64