In [3]:
import numpy as np, pandas as pd

# review numpy concatenate

x = np.array([1,2,3])
y = np.array([2,3,4])
z = np.array([3,4,5])
C= np.concatenate([x,y,z])
print(C)

[1 2 3 2 3 4 3 4 5]

In [5]:
# pandas concat

ser1 = pd.Series(["A","B","C","D"], index=[1,2,3,4])
ser2 = pd.Series(["E","F","G","H"],index=[5,6,7,8])
ser_cat = pd.concat([ser1,ser2])
print(ser_cat)

1    A
2    B
3    C
4    D
5    E
6    F
7    G
8    H
dtype: object

In [12]:
 def make_df(cols, ind): 
     """一个简单的DataFrame""" 
     data = {c: [str(c) + str(i) for i in ind] 
         for c in cols} 
     return pd.DataFrame(data, ind)

In [14]:
df1 = make_df("ABC",range(3))
print(df1)

    A   B   C
0  A0  B0  C0
1  A1  B1  C1
2  A2  B2  C2

In [22]:
df2 = make_df("ABC",range(3,6))
print(df2)

    A   B   C
3  A3  B3  C3
4  A4  B4  C4
5  A5  B5  C5

In [16]:
df3 = make_df("GHI",range(3))
print(df3)

    G   H   I
0  G0  H0  I0
1  G1  H1  I1
2  G2  H2  I2

In [20]:
print(pd.concat([df1,df3],axis=1))

    A   B   C   G   H   I
0  A0  B0  C0  G0  H0  I0
1  A1  B1  C1  G1  H1  I1
2  A2  B2  C2  G2  H2  I2

In [23]:
print(pd.concat([df1,df2],axis=0))

    A   B   C
0  A0  B0  C0
1  A1  B1  C1
2  A2  B2  C2
3  A3  B3  C3
4  A4  B4  C4
5  A5  B5  C5