In [3]:
import numpy as np, pandas as pd

# review numpy concatenate

x = np.array([1,2,3])
y = np.array([2,3,4])
z = np.array([3,4,5])
C= np.concatenate([x,y,z])
print(C)

[1 2 3 2 3 4 3 4 5]

In [5]:
# pandas concat

ser1 = pd.Series(["A","B","C","D"], index=[1,2,3,4])
ser2 = pd.Series(["E","F","G","H"],index=[5,6,7,8])
ser_cat = pd.concat([ser1,ser2])
print(ser_cat)

1    A
2    B
3    C
4    D
5    E
6    F
7    G
8    H
dtype: object

In [12]:
 def make_df(cols, ind): 
     """一个简单的DataFrame""" 
     data = {c: [str(c) + str(i) for i in ind] 
         for c in cols} 
     return pd.DataFrame(data, ind)

In [14]:
df1 = make_df("ABC",range(3))
print(df1)

    A   B   C
0  A0  B0  C0
1  A1  B1  C1
2  A2  B2  C2

In [22]:
df2 = make_df("ABC",range(3,6))
print(df2)

    A   B   C
3  A3  B3  C3
4  A4  B4  C4
5  A5  B5  C5

In [16]:
df3 = make_df("GHI",range(3))
print(df3)

    G   H   I
0  G0  H0  I0
1  G1  H1  I1
2  G2  H2  I2

In [20]:
print(pd.concat([df1,df3],axis=1))

    A   B   C   G   H   I
0  A0  B0  C0  G0  H0  I0
1  A1  B1  C1  G1  H1  I1
2  A2  B2  C2  G2  H2  I2

In [23]:
print(pd.concat([df1,df2],axis=0))

    A   B   C
0  A0  B0  C0
1  A1  B1  C1
2  A2  B2  C2
3  A3  B3  C3
4  A4  B4  C4
5  A5  B5  C5

In [24]:
# index kept
x = make_df('AB', [0, 1]) 
 
y = make_df('AB', [2, 3]) 

y.index = x.index # 复制索引

print(x); print(y); print(pd.concat([x, y]))

    A   B
0  A0  B0
1  A1  B1
    A   B
0  A2  B2
1  A3  B3
    A   B
0  A0  B0
1  A1  B1
0  A2  B2
1  A3  B3

In [27]:
# check overlap of index

# verify_integrity = True
try:
    pd.concat([x,y],verify_integrity=True)
except ValueError as e:
    print(e)

Indexes have overlapping values: Int64Index([0, 1], dtype='int64')

In [31]:
# ignore_index
try:
    print(pd.concat([x,y],ignore_index=True))
except:
    print("something goes wrong")

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
3  A3  B3

In [32]:
# add multi-indexing

print(pd.concat([x,y],keys=["Some","Any"]))

         A   B
Some 0  A0  B0
     1  A1  B1
Any  0  A2  B2
     1  A3  B3

In [33]:
# Join Alike

df5 = make_df('ABC', [1, 2]) 
df6 = make_df('BCD', [3, 4]) 
print(pd.concat([df5,df6]))

     A   B   C    D
1   A1  B1  C1  NaN
2   A2  B2  C2  NaN
3  NaN  B3  C3   D3
4  NaN  B4  C4   D4

In [34]:
# add join type
print(pd.concat([df5,df6], join="inner"))

    B   C
1  B1  C1
2  B2  C2
3  B3  C3
4  B4  C4

In [38]:
# something like left, right join

print(pd.concat([df5,df6.reindex(columns = df5.columns)],ignore_index=True))

     A   B   C
0   A1  B1  C1
1   A2  B2  C2
2  NaN  B3  C3
3  NaN  B4  C4

In [40]:
# something like left, right join

print(pd.concat([df5.reindex(columns=df6.columns),df6],ignore_index=True))

    B   C    D
0  B1  C1  NaN
1  B2  C2  NaN
2  B3  C3   D3
3  B4  C4   D4

In [41]:
#append

print(df1,"\n")
print(df2,"\n")
print(df1.append(df2),"\n")

    A   B   C
0  A0  B0  C0
1  A1  B1  C1
2  A2  B2  C2

    A   B   C
3  A3  B3  C3
4  A4  B4  C4
5  A5  B5  C5

    A   B   C
0  A0  B0  C0
1  A1  B1  C1
2  A2  B2  C2
3  A3  B3  C3
4  A4  B4  C4
5  A5  B5  C5

C:\Users\chaoc\AppData\Local\Temp\ipykernel_1456\3774267411.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  print(df1.append(df2),"\n")