In [1]:
import numpy as np, pandas as pd

In [3]:
df1 = pd.DataFrame({'employee': ['Bob', 'Jake', 'Lisa', 'Sue'], 
 'group': ['Accounting', 'Engineering', 'Engineering', 'HR']}) 
df2 = pd.DataFrame({'employee': ['Lisa', 'Bob', 'Jake', 'Sue'], 
 'hire_date': [2004, 2008, 2012, 2014]}) 
print(df1);print("\n"); print(df2)

  employee        group
0      Bob   Accounting
1     Jake  Engineering
2     Lisa  Engineering
3      Sue           HR


  employee  hire_date
0     Lisa       2004
1      Bob       2008
2     Jake       2012
3      Sue       2014

In [5]:
# merge 2 df into 1

#1 to 1  1 row merge another rows 
# the number of rows are same in 2 tables
df3 = pd.merge(df1,df2)
print(df3)

  employee        group  hire_date
0      Bob   Accounting       2008
1     Jake  Engineering       2012
2     Lisa  Engineering       2004
3      Sue           HR       2014

In [8]:
# many rows to one row
df4 = pd.DataFrame({'group': ['Accounting', 'Engineering', 'HR'], 
 'supervisor': ['Carly', 'Guido', 'Steve']}) 
print(df4)
print("\n")
print(pd.merge(df3,df4))

         group supervisor
0   Accounting      Carly
1  Engineering      Guido
2           HR      Steve


  employee        group  hire_date supervisor
0      Bob   Accounting       2008      Carly
1     Jake  Engineering       2012      Guido
2     Lisa  Engineering       2004      Guido
3      Sue           HR       2014      Steve

In [9]:
df5 = pd.DataFrame({'group': ['Accounting', 'Accounting', 
 'Engineering', 'Engineering', 'HR', 'HR'], 
 'skills': ['math', 'spreadsheets', 'coding', 'linux', 
 'spreadsheets', 'organization']}) 
print(df5)

         group        skills
0   Accounting          math
1   Accounting  spreadsheets
2  Engineering        coding
3  Engineering         linux
4           HR  spreadsheets
5           HR  organization

In [10]:
# many rows to many rows

print(pd.merge(df1,df5))

  employee        group        skills
0      Bob   Accounting          math
1      Bob   Accounting  spreadsheets
2     Jake  Engineering        coding
3     Jake  Engineering         linux
4     Lisa  Engineering        coding
5     Lisa  Engineering         linux
6      Sue           HR  spreadsheets
7      Sue           HR  organization

In [12]:
# keys on merge

print(df1,"\n");print(df2,"\n"),print(pd.merge(df1,df2,on="employee"),"\n")

  employee        group
0      Bob   Accounting
1     Jake  Engineering
2     Lisa  Engineering
3      Sue           HR

  employee  hire_date
0     Lisa       2004
1      Bob       2008
2     Jake       2012
3      Sue       2014

  employee        group  hire_date
0      Bob   Accounting       2008
1     Jake  Engineering       2012
2     Lisa  Engineering       2004
3      Sue           HR       2014

(None, None)

In [15]:
# left_on, right_on 
# when 2 colums from 2 table have different keys.
df3 = pd.DataFrame({'name': ['Bob', 'Jake', 'Lisa', 'Sue'], 
 'salary': [70000, 80000, 120000, 90000]}) 
print(df1);print("\n"); print(df3); print("\n")
print(pd.merge(df1, df3, left_on="employee", right_on="name"))

  employee        group
0      Bob   Accounting
1     Jake  Engineering
2     Lisa  Engineering
3      Sue           HR


   name  salary
0   Bob   70000
1  Jake   80000
2  Lisa  120000
3   Sue   90000


  employee        group  name  salary
0      Bob   Accounting   Bob   70000
1     Jake  Engineering  Jake   80000
2     Lisa  Engineering  Lisa  120000
3      Sue           HR   Sue   90000

In [17]:
# to avoid duplication of colums, use drop
print(pd.merge(df1,df3, left_on="employee", right_on="name").drop("name", axis=1))

  employee        group  salary
0      Bob   Accounting   70000
1     Jake  Engineering   80000
2     Lisa  Engineering  120000
3      Sue           HR   90000

In [18]:
df1a = df1.set_index("employee")
df2a = df2.set_index("employee")
print(df1a,"\n",df2a)

                group
employee
Bob        Accounting
Jake      Engineering
Lisa      Engineering
Sue                HR
           hire_date
employee
Lisa           2004
Bob            2008
Jake           2012
Sue            2014

In [19]:
# use leftindex and right_index
print(pd.merge(df1a,df2a, left_index=True, right_index=True))

                group  hire_date
employee
Bob        Accounting       2008
Jake      Engineering       2012
Lisa      Engineering       2004
Sue                HR       2014